@{ 
    var main = OdekuTour.Loader.Main;
    var units = OdekuTour.Loader.Units;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OdekuTour</title>
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.css" />
    <link href="~/pannellum/pannellum.css" rel="stylesheet" />
    <link href="~/css/animate/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fakeLoader/css/fakeLoader.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/fakeLoader/js/fakeLoader.js"></script>
</head>
<body>
    <div class="fakeLoader"></div>
    <script>var fakeLoaderEl = $.fakeLoader({ timeToHide: 2000, spinner: "spinner1" });</script>
    <div class="container-fluid" id="main-container">
        <div class="row ml-4 mr-4 d-lg-flex justify-content-lg-center justify-content-end">
            <nav class="navbar navbar-expand-lg navbar-light rounded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapsedContent">
                    <ul class="navbar-nav flex-wrap justify-content-center align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" id="@main.GetHashCode()" href="#">@main</a>
                        </li>
                        @foreach (var unit in units)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="@unit.Name.GetHashCode()" href="#">@unit.Name</a>
                            </li>
                        }
                    </ul>
                    <div class="text-center">
                        <a class="navbar-brand ml-lg-3 text-center m-0" href="@Url.Action("Index", "Home")">
                            <img src="~/images/logos/logo_odeku1.png" width="45" height="60" alt="logo">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card border-white invisible animated" id="description">
            <div class="card-body text-white">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text"></p>
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/pannellum/pannellum.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
